<div class="splash-container">
  <div class="left-sec">
    <h1>PERMISSIONLES <br />CROSS-CHAIN DEX</h1>
    <div>
      <ul class="features">
        <li>Make cross-chain swaps</li>
        <li>No pegged assets</li>
        <li>Earn interest on your crypto</li>
        <li>Powered by THORChain</li>
      </ul>
    </div>
    <div class="btn-container">
      <button class="outline-btn" (click)="gotoApp()">
        <span *ngIf="!isTestnet">Use the app</span>
        <span *ngIf="isTestnet">Use the TestNet app</span>
      </button>
    </div>
    <div class="text">
      VANAHEIMEX is powered by THORChain technology. Swap between assets across chain. Deposit assets to earn yield. Instantly swap assets in your wallet, or swap and sent them to a friend at market prices. A small fee proportional to the slip is paid to whoever puts assets in the pool. Fees are always fair and transparent.
    </div>
  </div>
  <div class="container-wrapper gray-border">
    <div class="ring-outer ring-outer--1 js-loading">
      <svg width="775" height="674" viewBox="0 0 775 674" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.5" x="1" y="1" width="773" height="672" rx="20" fill="transparent" stroke="url(#paint0_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint0_linear" x1="387.5" y1="-335" x2="-277.966" y2="430.484" gradientUnits="userSpaceOnUse">
          <stop class="top-right"/>
          <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--2 js-loading">
      <svg width="815" height="714" viewBox="0 0 815 714" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.45" x="1" y="1" width="813" height="712" rx="20" fill="transparent" stroke="url(#paint1_linear)" stroke-width="2"/>
        <defs>
          <linearGradient id="paint1_linear" x1="407.5" y1="-355" x2="-298.281" y2="450.899" gradientUnits="userSpaceOnUse">
          <stop class="top-right"/>
          <stop offset="1" class="bottom-left"/>
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--3 js-loading">
      <svg width="854" height="754" viewBox="0 0 854 754" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.4" x="1" y="1" width="852" height="752" rx="20" fill="transparent" stroke="url(#paint2_linear)" stroke-width="2"/>
          <defs>
            <linearGradient id="paint2_linear" x1="427.5" y1="-375" x2="-318.568" y2="471.271" gradientUnits="userSpaceOnUse">
              <stop class="top-right"/>
              <stop offset="1" class="bottom-left"/>
            </linearGradient>
          </defs>
        </svg>
    </div>
    <div class="ring-outer ring-outer--4 js-loading">
      <svg width="895" height="794" viewBox="0 0 895 794" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.35" x="1" y="1" width="893" height="792" rx="20" fill="transparent" stroke="url(#paint3_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint3_linear" x1="447.5" y1="-395" x2="-338.829" y2="491.606" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
        </svg>
    </div>
    <div class="ring-outer ring-outer--5 js-loading">
      <svg width="935" height="834" viewBox="0 0 935 834" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.3" x="1" y="1" width="933" height="832" rx="20" fill="transparent" stroke="url(#paint4_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint4_linear" x1="467.5" y1="-415" x2="-359.069" y2="511.91" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--6 js-loading">
      <svg width="975" height="874" viewBox="0 0 975 874" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.2" x="1" y="1" width="973" height="872" rx="20" fill="transparent" stroke="url(#paint5_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint5_linear" x1="487.5" y1="-435" x2="-379.289" y2="532.186" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--6 js-loading">
      <svg width="975" height="874" viewBox="0 0 975 874" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.2" x="1" y="1" width="973" height="872" rx="20" fill="transparent" stroke="url(#paint6_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint6_linear" x1="487.5" y1="-435" x2="-379.289" y2="532.186" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--7 js-loading">
      <svg width="1015" height="914" viewBox="0 0 1015 914" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.15" x="1" y="1" width="1013" height="912" rx="20" fill="transparent" stroke="url(#paint7_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint7_linear" x1="507.5" y1="-455" x2="-399.493" y2="552.438" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--8 js-loading">
      <svg width="1055" height="974" viewBox="0 0 1055 934" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.1" x="1" y="1" width="1053" height="932" rx="20" fill="#000B12" stroke="url(#paint8_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint8_linear" x1="527.5" y1="-465" x2="-397.599" y2="580.204" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--9 js-loading">
      <svg width="1095" height="994" viewBox="0 0 1095 954" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.05" x="1" y="1" width="1093" height="972" rx="20" fill="transparent" stroke="url(#paint9_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint9_linear" x1="547.5" y1="-475" x2="-395.491" y2="607.657" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--10 js-loading">
      <svg width="1135" height="1054" viewBox="0 0 1135 974" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.02" x="1" y="1" width="1133" height="992" rx="20" fill="transparent" stroke="url(#paint10_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint10_linear" x1="567.5" y1="-485" x2="-393.194" y2="634.821" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="ring-outer ring-outer--11 js-loading">
      <svg width="1175" height="1074" viewBox="0 0 1175 994" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.02" x="1" y="1" width="1173" height="1034" rx="20" fill="transparent" stroke="url(#paint11_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint11_linear" x1="587.5" y1="-495" x2="-390.729" y2="661.717" gradientUnits="userSpaceOnUse">
        <stop class="top-right"/>
        <stop offset="1" class="bottom-left"/>
        </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="container">
        <div class="main-container">
          <nav class="content-top">
            <app-breadcrumb [isGray]="gray[0]" [path]="[{name: 'vanaheimex', disable: false}, {name: 'swap', disable: false}]" message="ready" (click)="gotoApp()"></app-breadcrumb>
            <div class="top-right">
              <app-right-option [isGray]="gray[1]" [switchField]="{right: {text: 'Pool', tag: '', disable: false}, left: {text: 'Swap', tag: '', disable: false}}" (click)="gotoApp()"></app-right-option>
            </div>
          </nav>
          <!-- SOURCE -->
          <app-asset-input
            [isGray]="gray[2]"
            label="Send"
            [isSource]="true"
            [(selectedAsset)]="sourceInput.asset"
            [(assetUnit)]="sourceInput.amount"
            [balance]="sourceInput.balance"
            [priceInput]="sourceInput.price"
            [disableInput]="true"
            [disabledAssetSymbol]="null"
            [selectableMarkets]=""
          >
          </app-asset-input>
          <app-arrow [seperator]="false" [isGrey]="gray[3]"></app-arrow>
          <!-- TARGET -->
          <app-asset-input
            [isGray]="gray[4]"
            label="Receive"
            [isSource]="false"
            [(selectedAsset)]="targetInput.asset"
            [(assetUnit)]="targetInput.amount"
            [balance]="targetInput.balance"
            [priceInput]="targetInput.price"
            [disableInput]="true"
            [disabledAssetSymbol]="null"
            [hideMax]="true"
            [selectableMarkets]=""
            [showBalance]="false"
           >
          </app-asset-input>
          <div class="swap-details">
            <div class="flex justify-between">
              <span class="tx-detail-label">Price:</span>
              <span>0.0001
                BTC per RUNE<span class="mono" style="margin-left: 5px">(${{targetInput.price | number: '0.2-2'}})</span></span>
            </div>
            <!-- total fee and slip -->
            <div class="flex justify-between">
              <span class="tx-detail-label">Total Fee:</span>
              <span>Shown on confirmation</span>
            </div>

            <div class="flex justify-between">
              <span class="tx-detail-label">Slip:</span>
              <span [ngStyle]="{'color': gray[5] === true ? 'var(--primary-grey-color)' : 'var(--primary-default)'}">1.3532%<span class="mono" style="margin-left: 5px;">($48.88)</span></span>
            </div>

            <div class="flex justify-between">
              <span>Settings:</span>
              <span>3% slip tolerance <span class="adjust" (click)="gotoApp()">(click to adjust)</span></span>
            </div>

          </div>
          <!-- SWAP button -->
          <div class="bottom-actions">
            <button
              class="next-btn graident-btn"
              [disabled]="gray[6]"
              (click)="gotoApp()"
            >
              <span>Swap</span>
            </button>
          </div>

        </div>
    </div>
  </div>
</div>
