<div class="swap-input uni-input" [ngClass]="{'disable': disableUser, 'gray': isGray}">
  <div class="swap-input--inner">
    <div class="flex justify-between label-wrapper">
      <label class="label-title" for="{{label}}Input">{{label}}<span style="color: #474E5D;" *ngIf="selectedAsset && balance && !disableUser && showBalance"> (<span class="mono">{{balance | number:"1.0-2"}}</span> balance)</span><span *ngIf="!isSource" style="color: #474E5D;"> (estimated)</span></label>
    </div>

    <div class="flex justify-between items-center" style="position: relative;">

      <input
        class="priceInput focus:outline-none focus:ring-0"
        [ngModel]="assetUnit"
        id="{{label}}Input"
        name="fromUnit"
        placeholder="0.0"
        type="number"
        [disabled]="disableInput"
        [ngClass]="{'disable': disableUser}" />

      <div class="tag-space--between" style="margin-right: 8px;" *ngIf="balance && balance > 0 && balance != assetUnit && !hideMax">
        <app-tag [type]="isGray ? 'gray' : 'outline'" (click)="gotoApp()">MAX</app-tag>
      </div>

      <button *ngIf="selectedAsset" class="launch-markets-btn" [disabled]="isGray" (click)="gotoApp()">
        <div class="flex items-center asset-selector" [ngClass]="{'disabled': isGray}">
          <app-icon-ticker [isGray]="isGray" [iconPath]="selectedAsset.iconPath" [ticker]="selectedAsset.ticker" [chain]="selectedAsset.chain"></app-icon-ticker>
          <!-- <mat-icon class="expand-more" *ngIf="!disabledMarketSelect">expand_more</mat-icon> -->
          <div style="display: flex; margin-left: 10px;" *ngIf="!disabledMarketSelect">
            <svg class="expand-more" [ngClass]="{'disable': disableUser}" width="15" height="9" viewBox="0 0 15 9" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.50071 8.69094C7.23188 8.69094 6.96308 8.5883 6.75812 8.38344L0.308445 1.9337C-0.101838 1.52341 -0.101838 0.858209 0.308445 0.448091C0.718563 0.0379736 1.38363 0.0379736 1.79395 0.448091L7.50071 6.15518L13.2075 0.44829C13.6178 0.0381727 14.2828 0.0381727 14.6929 0.44829C15.1034 0.858408 15.1034 1.52361 14.6929 1.9339L8.24329 8.38364C8.03824 8.58853 7.76944 8.69094 7.50071 8.69094Z"/>
            </svg>
          </div>
        </div>
      </button>

    </div>

    <span class="usd-est" *ngIf="showPrice && priceInput && assetUnit">${{ priceInput * assetUnit | number: '.2-3' }} USD</span>

  </div>

</div>
